.game-area {
  font-family: 'Spongebob';
  margin: auto;
  position: relative;
  width: $game-area-width;
  height: 600px;
  border: 1px solid black;
  overflow: hidden;
  background-color: skyblue;
  z-index: -2;
}

.game-area__pause-overlay {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;

  p {
    margin: auto;
    color: white;
    font-size: 150px;
    letter-spacing: 20px;
  }
}

.game-area__pause-overlay.is-visible {
  visibility: visible;
}

.game-area__brontisLifes {
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: flex;
}

.game-area__brontisLifes .life-illustration {
  margin-right: 10px;
  width: 30px;
  height: 60px;
  background-image: url('/img/Brontis-Static.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.game-area__squeezeLifes,
.game-area__timer {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
}

.game-area__squeezeLifes .life-illustration {
  margin-left: 10px;
  width: 30px;
  height: 60px;
  background-image: url('/img/Squeezie-static.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.game-area__timer {
  font-size: 30px;
  letter-spacing: 5px;
}

.game-area__timer.red {
  color: red;
}

.game-area__ground {
  position: absolute;
  bottom: 0;
  width: $game-area-width;
  height: $ground-height;
  background-color: gold;
}

.game-area__sea {
  position: absolute;
  bottom: $ground-height;
  width: $game-area-width;
  height: $sea-height;
  background-color: blue;
}

.game-area__trees {
  position: absolute;
  bottom: $ground-height;
  width: 100%;
}

.game-area__trees.trees.is-moving {
  animation: move-to-left 30s linear forwards;
}

.trees {
  position: absolute;
  height: 100vh;
  width: 200px;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.trees.tree__1 {
  left: 100px;
  background-image: url('/img/coco.png');
}

.trees.tree__2 {
  left: 350px;
  width: 250px;
  background-image: url('/img/coco.png');
}

.trees.tree__random {
  bottom: $ground-height;
  left: $game-area-width - 10;
  background-image: url('/img/coco.png');
}

.trees.tree__random.stop-move {
  transform: none;
}

.boat {
  position: absolute;
  left: $game-area-width - 100;
  bottom: $ground-height + $sea-height;
  height: 50px;
  width: 50px;
  background-image: url('/img/Bateau.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: move-to-left 400s linear;
  z-index: -1;
}

.game-area__island {
  position: absolute;
  left: $game-area-width - 500;
  bottom: $ground-height + $sea-height;
  width: 60px;
  height: 60px;
  background-image: url('/img/Iles.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: move-to-left 1000s linear;
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
  animation: is-flashing 0.5s linear infinite;
}
