.game-area {
  margin: auto;
  position: relative;
  width: $game-area-width;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
}

.game-area__ground {
  position: absolute;
  bottom: 0;
  width: $game-area-width;
  height: $ground-height;
  background-color: gold;
}

.game-area__sea {
  position: absolute;
  bottom: $ground-height;
  width: $game-area-width;
  height: 75px;
  background-color: blue;
}

.tree{
  position: absolute;
  left: $game-area-width - 10;
  bottom: $ground-height;
  height: 350px;
  width: 200px;
  background-image: url('/img/coco.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
