.crab {
  position: absolute;
  bottom: $ground-height;
  left: $game-area-width - 10;
  height: 40px;
  width: 50px;
  background-image: url('/img/red-craby.gif');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.ball {
  position: absolute;
  bottom: $ground-height;
  left: $game-area-width - 10;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('/img/ballon.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: rotation 0.6s linear infinite;
}

.dog {
  position: absolute;
  bottom: $ground-height + 60;
  left: $game-area-width - 10;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('/img/shiba-qui-vole.gif');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
