div {

    .how-to {
        text-align: center;
        font-size: 4em;
        padding: 0.2em;
        margin-left: 500px;

    }

    .explain-gameplay {
        display: inline-flex;
        width: 0;
    }

    .zone-gameplay1, .zone-gameplay2, .zone-gameplay3 {
        display: inline-block;
        padding-left: 125px;
        padding-top: 40px;
    }

    .zone-gameplay1 {
        margin-left: 100px;
    }

    .text-gameplay {
        font-size: 1.5em;
        text-align: center;
        width: 250px;
    }

    .img-gameplay {
        width: 12em;
        margin-left: 15px;
    }

    .key-gameplay1, .key-gameplay2, .key-gameplay3 {
        text-align: center;
        margin: auto;
        display: flex;
    }

    .key-gameplay1, .key-gameplay2 {
        width: 4em;
    }

    .key-gameplay3 {
        width: 10em;
    }

    .play {
        border-radius: 0.5em;

    }
}