@font-face {
  font-family: 'Spongebob';
  src: url('../fonts/SpongeboyMeBob.woff') format('woff'),
    url('../fonts/SpongeboyMeBob.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/MontserratAlternates-Medium.woff') format('woff');
}
