.brontis {
  visibility: hidden;
  position: absolute;
  width: 65px;
  height: 100px;
  bottom: $ground-height;
  background-image: url('/img/Brontis-Marche.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}

.brontis.is-visible {
  visibility: visible;
}

.brontis.is-jumping {
  animation: jump 0.5s cubic-bezier(0.46, 1.06, 0.64, 0.99) alternate infinite;
}

.brontis.is-bending-down {
  height: 25px;
}
