.squeeze {
  position: absolute;
  bottom: $ground-height;
  width: 70px;
  height: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}

.squeeze.is-running {
  animation: squeeze-move 4s linear forwards;
  background-image: url('/img/Squeezie-gif.gif');
}

.squeeze.ready-to-fight {
  background-image: url('/img/Squeezie-static.png');
  left: 800px;
  width: 140px;
  height: 240px;
}

.squeeze.ready-to-fight.is-dead {
  animation: loose 1s ease-out forwards;
  background-image: url('/img/Squeezie-dead.png');
}

.squeeze-dog {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: url('/img/real-nyan-dog.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
