.squeeze {
  position: absolute;
  bottom: $ground-height;
  width: 70px;
  height: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}

.squeeze.is-running {
  animation: squeeze-move 3s linear forwards;
  background-image: url('/img/Squeezie-gif.gif');
}

.squeeze.is-running.is-throwing-back {
  background-image: url('/img/Squeezie-lancearriere.gif');
}

.squeeze.ready-to-fight {
  background-image: url('/img/Squeezie-gif-2.gif');
  left: 800px;
  width: 140px;
  height: 240px;
  animation: squeeze-move-when-fighting 5s linear infinite;
}
.squeeze.ready-to-fight.is-throwing {
  background-image: url('/img/Squeezie-Rambo.gif');
}

.squeeze.ready-to-fight.is-dead {
  animation: loose 1s ease-out forwards;
  background-image: url('/img/Squeezie-dead.png');
}

.squeeze.squeeze.ready-to-fight.is-flashing {
  animation: is-flashing 0.5s alternate infinite;
}

.squeeze-dog {
  position: absolute;
  width: 100px;
  height: 40px;
  background-image: url('/img/real-nyan-dog.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
