@keyframes jump {
  from {
    bottom: $ground-height;
  }
  to {
    bottom: $ground-height + 80;
  }
}

@keyframes move-to-left {
  form {
    transform: none;
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes move-to-right {
  form {
    transform: none;
  }
  to {
    transform: translateX(+100vw);
  }
}

@keyframes rotation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes is-flashing {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loose {
  40% {
    bottom: $ground-height + 100;
  }
  to {
    bottom: $ground-height - 300;
  }
}
