@keyframes jump {
  from {
    bottom: $ground-height;
  }
  to {
    bottom: $ground-height + 80;
  }
}

@keyframes jump-when-fighting {
  from {
    bottom: $ground-height;
  }
  to {
    bottom: $ground-height + 180;
  }
}

@keyframes squeeze-move-when-fighting {
  15% {
    left: 900px;
    bottom: $ground-height;
  }
  30% {
    left: 800px;
    bottom: $ground-height;
  }
  45% {
    left: 800px;
    bottom: $ground-height + 180;
  }
  60% {
    left: 800px;
    bottom: $ground-height;
  }
  75% {
    left: 700px;
    bottom: $ground-height;
  }
  90% {
    left: 800px;
    bottom: $ground-height;
  }
  to {
    left: 800px;
    bottom: $ground-height;
  }
}

@keyframes move-to-left {
  to {
    transform: translateX(-100vw);
  }
}

@keyframes move-to-right {
  to {
    transform: translateX(+100vw);
  }
}

@keyframes squeeze-move {
  to {
    transform: translateX($game-area-width - 100);
  }
}

@keyframes rotation {
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes is-flashing {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loose {
  40% {
    bottom: $ground-height + 100;
  }
  to {
    bottom: $ground-height - 500;
  }
}

@keyframes textup {
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-140vh);
  }
}
